.header {
  font-family: 'Amiri', serif;
  height: auto;
  max-height: 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #FF4E4E;
}

.header div:last-child {
  margin-left: auto;
}

.logo {
  height: 30px;
  width: 20px;
  margin-left: 200px;
}

.header-title {
  font-size: 19px;
  margin-left: 10px;
  margin-top: 20px;
  /*align-self: flex-start;*/
  color: white;
}

.header-title:hover, a:hover, a {
  text-decoration: none;
}

@media (min-width: 320px) {
  .header-title {
    font-size: 20px;
  }
  .header {
    padding: 5px 10px 5px 20px;
  }
}

@media (min-width: 400px) {
  .header-title {
    font-size: 27px;
  }
  .header {
    padding: 10px 20px 10px 40px;
  }
}
