.edit-comment-button {
  color: white;
  float: right;
  opacity: 1;
  background-color: rgb(255, 78, 78);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edit-comment-button:hover  {
  opacity: .7;
}

.delete-comment-button {
  color: white;
  float: right;
  opacity: 1;
  background-color: rgb(255, 78, 78);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.delete-comment-button:hover {
  opacity: .7;
}
